.troop-movement-russia {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/flag-russia_1f1f7-1f1fa.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.troop-movement-lnr {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/flag-russia_1f1f7-1f1fa.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.troop-movement-dnr {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/flag-russia_1f1f7-1f1fa.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.troop-movement-belarus {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/flag-belarus_1f1e7-1f1fe.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}	
.troop-movement-ukraine {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/flag-ukraine_1f1fa-1f1e6.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}	
.fighting {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/collision_1f4a5.png');
	background-size: cover;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
}
.friendly-fire-russia {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/collision_1f4a5.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.friendly-fire-ukraine {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/collision_1f4a5.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.bombardment {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/bomb_1f4a3.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.fire {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/fire_1f525.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.situation-report {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/cinema_1f3a6.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.surrender-ukraine {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/white-flag_1f3f3-fe0f.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.surrender-russia {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/white-flag_1f3f3-fe0f.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.fatalities {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/skull_1f480.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.gathering {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/mens-room_1f6b9.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.protest {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/megaphone_1f4e3.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.refugees {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/family_1f46a.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.aircraft {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/samsung/320/small-airplane_1f6e9-fe0f.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.siren {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/warning_26a0-fe0f.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.shelter-in-place {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/warning_26a0-fe0f.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.disorder {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/warning_26a0-fe0f.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.ship-scuttled {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/firecracker_1f9e8.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.bridge-destroyed {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/firecracker_1f9e8.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.destroyed-equipment {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/gear_2699-fe0f.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.other {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/cinema_1f3a6.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}
.rockets {
	background-image: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/285/rocket_1f680.png');
	background-size: cover;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	cursor: pointer;
}



.old-video-circle {
  height: 6px;
  width: 6px;
  background-color: DimGray;
  border-radius: 50%;
  border: 1px solid grey;
  display: inline-block;
}


.square-territory-rus {
	height: 12px;
	width: 12px;
	background-color: #CC5500;
	opacity: 0.6;
}
.square-territory-lnr {
	height: 12px;
	width: 12px;
	background-color: #cc7700;
	opacity: 0.6;
}
.square-territory-dnr {
	height: 12px;
	width: 12px;
	background-color: #c43800;
	opacity: 0.6;
}
.square-territory-ukr {
	height: 12px;
	width: 12px;
	background-color: royalblue;
	opacity: 0.3;
}


.pipeline-gas {
  background: linear-gradient(135deg, transparent calc(50% - 1px), cyan 50%, transparent calc(50% + 1px) );
  width: 12px;
  height: 12px;
  margin: 0 auto;
}
.pipeline-oil {
  background: linear-gradient(135deg, transparent calc(50% - 1px), lime 50%, transparent calc(50% + 1px) );
  width: 12px;
  height: 12px;
  margin: 0 auto;
}
.pipeline-ammonia {
  background: linear-gradient(135deg, transparent calc(50% - 1px), green 50%, transparent calc(50% + 1px) );
  width: 12px;
  height: 12px;
  margin: 0 auto;
}
.pipeline-water {
  background: linear-gradient(135deg, transparent calc(50% - 1px), blue 50%, transparent calc(50% + 1px) );
  width: 12px;
  height: 12px;
  margin: 0 auto;
}


.powerplant {
	background-color: yellow;
}
.coal {
	background-image: url('https://freesvg.org/img/1420411166.png');
	background-size: cover;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	border:2px solid yellow;    
}
.nuclear {
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Radiation_warning_symbol2.svg/240px-Radiation_warning_symbol2.svg.png');
	background-size: cover;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	border:2px solid yellow;    
}
.hydro {
	background-image: url('https://www.shareicon.net/data/256x256/2015/09/19/642937_nature_512x512.png');
	background-size: cover;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	cursor: pointer;
	border: 4px solid yellow;    
}
.coal-gas {
	background-image: url('https://freesvg.org/img/1420411166.png');
	background-size: cover;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	border:2px solid yellow;    
}
.coal-gas-oil {
	background-image: url('https://freesvg.org/img/1420411166.png');
	background-size: cover;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	border:2px solid yellow;    
}
